// Navbar module
.navbar {
  padding: .5rem 3.5rem;
  background-color: map-get($colors, lightgray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    padding-right: 1.75rem;
    text-decoration: none;
    color:  map-get($colors, gray);
    display: flex;
    align-items: center;
  }

  &__item--active {
    font-weight: 700;
    color:  map-get($colors, darkgray);
  }

  .link-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .archive-all-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
